{% extends 'letters/home.html' %}

{% block content %}
<div style="text-align: center;">
    <h1 style="margin-bottom: 20px;">What's on your mind today?</h1>
    {% comment %} <h6 style="margin-bottom: 20px;">What's on your mind today?</h6> {% endcomment %}
    <form method="POST" class="post-form">{% csrf_token %}
    <div class="justify-content-center" style="margin-bottom: 20px; width:50em;">
        <textarea class="form-control" style="height: 300px;" id="exampleFormControlTextarea1" rows="3">Dear Quill Pal,</textarea>
    </div>
        <button type="submit" class="save btn btn-light" style="margin-bottom: 20px;">Send Letter</button>
    </form>
    <!-- <div class="alert alert-danger" role="alert">
        <strong>Whoops!</strong> You've reached your limit on letters written today.
    </div> -->
</div>
{% endblock %}