{% extends 'letters/home.html' %}
{% block content %}
    <div class="d-flex justify-content-center" style="margin-bottom: 20px;">
        <div class="card" style="width: 45%;">
            <div class="card-body">
            <h5 class="card-title">Dear Stranger,</h5>
            <p class="card-text">{{letter.text}}</p>
        </div>
        <div class="card">
            <textarea class="form-control" style="height: 300px;" id="exampleFormControlTextarea1" rows="3">Dear Stranger,</textarea>
        </div>        
        <div style="text-align: center;">
            <a href="/letters" class="btn btn-light" style="margin-bottom: 20px;">Cancel</a>
            <a href="#" class="btn btn-dark" style="margin-bottom: 20px;">Send response</a>
        </div>
    </div>
</html>
{% endblock %}