{% extends 'letters/index.html' %}
{% block content %}
    <div class="d-flex justify-content-center" style="margin-bottom: 20px;">
        <div class="card" style="width: 45%;">
            <div class="card-body">
            <h5 class="card-title">Dear Stranger,</h5>
            <p class="card-text">{{ letter.text }}</p>
            <div style="text-align: center;">
                <a href="/addLetter" class="btn btn-light" style="margin-bottom: 20px;">Cancel</a>
                <a href="" class="btn btn-primary" style="margin-bottom: 20px;">Show me another letter</a>
                <a href="#" class="btn btn-danger" style="margin-bottom: 20px;">Report</a>
                <a href="/response/{{letter.id}}" class="btn btn-dark" style="margin-bottom: 20px;">Respond</a>
            </div>
            </div>
        </div>
    </div>
</html>
{% endblock %}